body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    /*background: linear-gradient(#035e2c,#f1f1f1); - V1.0*/
    background-color: #222222;
    background-repeat: no-repeat;
    margin: 1px 0px 100% 0px;
    
}

h1 {
    color: rgb(58, 241, 58);
    text-align: center;
}

#intro {
    color: #fff;
    font-size: large;
}

#quote {
    color: #9e6bff;
    font-size: large;
    padding: 5px;
}

#message {
    color: #fff;
}

#typed-value {
    padding: 10px;
}

/* inside style css */
.highlight {
    background-color: yellow;
}

.error {
    background-color: lightcoral;
    border: red;
}

#start {
    background-color: rgb(58, 241, 58);
    border: 0px;
    color: #000;
    padding: 8px 20px;
    font-size: large;
}

#popup {
    z-index: 1; /* Sit on top */
    height: 80%;
    width: 80%;
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    display: none;
}

#exit {
    color: rgb(1, 10, 10);
    float: right;
    font-weight: bold;
    font-size: 28px;
}

#exit:hover,
#exit:focus {
    color: rgb(58, 241, 58);
    text-decoration: none;
    cursor: pointer;
}